.customLearn{
    margin-top: 7rem;
}.progress-card {
    background-color: #fff;
    width: 60vw;
  }
  
  .tab-btn {
    border: none;
    background: #f9f9f9;
    font-weight: 500;
    padding: 10px;
    transition: background 0.3s ease;
  }
  
  .tab-btn:hover {
    background: #eee;
  }
  
  .tab-btn.active {
    background-color: #fff;
    border-bottom: 2px solid black;
  }
  